@charset "UTF-8";

@font-face {
  font-family: 'Baskerville';
  src: url(../Fonts/Baskerville-Old-Face) format("truetype");
  }
  
html {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1 {
	position: relative;
	font-family: "Baskerville";
	font-size: 500%;
	left: 3%;
	top: 0%;
	text-align: left;
}
