@charset "UTF-8";

@font-face {
  font-family: 'Baskerville';
  src: url(../Fonts/Baskerville-Old-Face) format("truetype");
  }
  

h1 {
  position: relative;
  left: 10%;
  width: 30%;
  font-size: 100%;
  border: 4px solid #00A60B;
  font-family: 'Baskerville';
}
