@charset "UTF-8";

@font-face {
  font-family: 'Baskerville';
  src: url(../Fonts/Baskerville-Old-Face) format("truetype");
  }
  
html {
	font-family: "Baskerville";
	font-weight: 400;
	color: #88888C;
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
  font-size: 1000;
  text-align: left;
}
